/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; width: 100vw; overflow: hidden; background: rgba(160,190,255,1)}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
